<h3 style="margin-top: 30px;">24 cols grid on x-large, 12 cols on large and 4 col on small</h3>

<p>Cols with colspan 1 at all breakpoints</p>
<div class="grid grid-cols-4 small:grid-cols-12 x-large:grid-cols-24 gap-2 mb-sm mt-sm">
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
    <div class="col-span-1 grid-box"></div>
</div>

<p style="margin-top: 30px;">Cols with colspan 4 on small, 6 on large, and 12 on x-large</p>
<div class="grid grid-cols-4 small:grid-cols-12 x-large:grid-cols-24 gap-2 mb-sm mt-sm">
    <div class="col-span-4 large:col-span-6 x-large:col-span-12 grid-box"></div>
    <div class="col-span-4 large:col-span-6 x-large:col-span-12 grid-box"></div>
</div>

<p style="margin-top: 30px;">Cols with colspan 2 on small, 4 on large, and 4 on x-large</p>
<div class="grid grid-cols-4 small:grid-cols-12 x-large:grid-cols-24 gap-2 mb-sm mt-sm">
    <div class="col-span-2 large:col-span-4 x-large:col-span-4 grid-box"></div>
    <div class="col-span-2 large:col-span-4 x-large:col-span-4 grid-box"></div>
    <div class="col-span-2 large:col-span-4 x-large:col-span-4 grid-box"></div>
    <div class="col-span-2 large:col-span-4 x-large:col-span-4 grid-box"></div>
    <div class="col-span-2 large:col-span-4 x-large:col-span-4 grid-box"></div>
    <div class="col-span-2 large:col-span-4 x-large:col-span-4 grid-box"></div>
</div>