<evn-button _nghost-frb-c128="">
    <button _ngcontent-frb-c128="" class="mat-focus-indicator mat-button mat-button-base button button-small button-primary button-no-icon icon-right" mat-button="" type="button">
        <span class="mat-button-wrapper">
            <span _ngcontent-frb-c128="" class="text">Button</span><!---->
        </span>
        <evn-icon _ngcontent-trf-c0="">
            <div class="evn-icon evn-icon-arrow-right-small evn-icon-color-disabled evn-icon-block evn-icon-default"><!----><!----><!----><!----><!----><!----><!----><!----><!---->
                <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.6059 7.21184L14 10.6059M14 10.6059L10.6059 14M14 10.6059L6 10.6061" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                </svg><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
            </div>
        </evn-icon>
        <span class="mat-button-ripple mat-ripple" matripple=""></span>
        <span class="mat-button-focus-overlay"></span>
    </button>
</evn-button>