@use "sass:map";
$primary: (50 : #fdf5f1,
    100 : #f9e2d7,
    200 : #f99592,
    300 : #f16968,
    400 : #fc4240,
    500 : #e0001b,
    600 : #b80015,
    700 : #a30013,
    800 : #7A000E,
    900 : #70000d,
    A100 : #c6cbff,
    A200 : #939dff,
    A400 : #606eff,
    A700 : #4757ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    ));

$secondary: (50 : #f8f8f8,
    100 : #e9e9e9,
    200 : #d9d9d9,
    300 : #c4c4c4,
    400 : #9d9d9d,
    500 : #7b7b7b,
    600 : #555555,
    700 : #434343,
    800 : #262626,
    900 : #000000,
    A100 : #adfff3,
    A200 : #7affec,
    A400 : #47ffe4,
    A700 : #2dffe0,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

$warn: (50 : #fefce5,
    100 : #fdf8be,
    200 : #FCFAE3,
    300 : #faee66,
    400 : #f9eb46,
    500 : #F8E725,
    600 : #f7e421,
    700 : #f6e01b,
    800 : #D5CA07,
    900 : #f3d70d,
    A100 : #ffffff,
    A200 : #fffceb,
    A400 : #fff5b8,
    A700 : #fff29e,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

$error: (50 : #fbe7e5,
    100 : #f5c3be,
    200 : #FDEFED,
    300 : #e77268,
    400 : #e25447,
    500 : #dd3627,
    600 : #d93023,
    700 : #d4291d,
    800 : #B6281B,
    900 : #c7160e,
    A100 : #fff3f3,
    A200 : #ffc2c0,
    A400 : #ff918d,
    A700 : #ff7874,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

$success: (50 : #eff7e7,
    100 : #d7ecc4,
    200 : #F4F7F1,
    300 : #a1d276,
    400 : #8cc958,
    500 : #78bf3b,
    600 : #70b935,
    700 : #65b12d,
    800 : #477420,
    900 : #489b19,
    A100 : #e0ffd1,
    A200 : #beff9e,
    A400 : #9cff6b,
    A700 : #8bff52,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));