$primary-050 : #fdf5f1;
$primary-100 : #f9e2d7;
$primary-200 : #f99592;
$primary-300 : #f16968;
$primary-400 : #fc4240;
$primary-500 : #e0001b;
$primary-600 : #b80015;
$primary-700 : #a30013;
$primary-800 : #a30013;
$primary-900 : #70000d;
$primary-A100 : #c6cbff;
$primary-A200 : #939dff;
$primary-A400 : #606eff;
$primary-A700 : #4757ff;
$primary-contrast-050 : #000000;
$primary-contrast-100 : #000000;
$primary-contrast-200 : #000000;
$primary-contrast-300 : #000000;
$primary-contrast-400 : #000000;
$primary-contrast-500 : #ffffff;
$primary-contrast-600 : #ffffff;
$primary-contrast-700 : #ffffff;
$primary-contrast-800 : #ffffff;
$primary-contrast-900 : #ffffff;
$primary-contrast-A100 : #000000;
$primary-contrast-A200 : #000000;
$primary-contrast-A400 : #ffffff;
$primary-contrast-A700 : #ffffff;


$secondary-050 : #f8f8f8;
$secondary-100 : #e9e9e9;
$secondary-200 : #d9d9d9;
$secondary-300 : #c4c4c4;
$secondary-400 : #9d9d9d;
$secondary-500 : #7b7b7b;
$secondary-600 : #555555;
$secondary-700 : #434343;
$secondary-800 : #262626;
$secondary-900 : #000000;
$secondary-A100 : #adfff3;
$secondary-A200 : #7affec;
$secondary-A400 : #47ffe4;
$secondary-A700 : #2dffe0;
$secondary-contrast-050 : #000000;
$secondary-contrast-100 : #000000;
$secondary-contrast-200 : #000000;
$secondary-contrast-300 : #000000;
$secondary-contrast-400 : #000000;
$secondary-contrast-500 : #ffffff;
$secondary-contrast-600 : #ffffff;
$secondary-contrast-700 : #ffffff;
$secondary-contrast-800 : #ffffff;
$secondary-contrast-900 : #ffffff;
$secondary-contrast-A100 : #000000;
$secondary-contrast-A200 : #000000;
$secondary-contrast-A400 : #000000;
$secondary-contrast-A700 : #000000;