//@import '../fonts.scss';
@import '../../variables.scss';



h1,
h2,
h3,
h4,
h5,
h6 {

    font-style: normal;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    margin-top: 0;
    color: $secondary-900;

}

h1 {

    //styleName: Desktop / Headline 1;
    font-family: Frutiger Next LT W1G;
    font-size: 56px;
    font-weight: 400;
    line-height: 62px;


}

h2 {
    //styleName: Desktop / Headline 2;
    font-family: Frutiger Next LT W1G;
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;


}

h3 {
    //styleName: Desktop / Headline 3;
    font-family: Frutiger Next LT W1G;
    font-size: 28px;
    font-weight: 400;
    line-height: 31px;


}

h4 {
    //styleName: Desktop / Headline 4;
    font-family: Frutiger Next LT W1G;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;


}

h5 {
    //styleName: Desktop / Headline 5;
    font-family: Frutiger Next LT W1G;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;


}

h6 {
    //styleName: Desktop / Headline 6;
    font-family: Frutiger Next LT W1G;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;

}


.evn-subtitle-1 {
    //styleName: Desktop / Subtitle 1;
    font-family: Frutiger Next LT W1G;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}


.evn-subtitle-2 {
    //styleName: Desktop / Subtitle 2;
    font-family: Frutiger Next LT W1G;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;


}

.evn-body-1 {
    //styleName: Desktop / Body 1;
    font-family: Frutiger Next LT W1G;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.evn-body-2 {
    //styleName: Desktop / Body 2;
    font-family: Frutiger Next LT W1G;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.evn-button {
    //styleName: Desktop / Button;
    font-family: Frutiger Next LT W1G;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
}

.evn-caption {
    //styleName: Desktop / Caption;
    font-family: Frutiger Next LT W1G;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
}

.evn-overline {
    //styleName: Desktop / Overline;
    font-family: Frutiger Next LT W1G;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.2000000476837158px;
    text-align: left;
}