extends layout

block content
  h1= title
  p Welcome to #{title}
  //link(rel='stylesheet', href='../components/buttons/large/button_large.scss')
  include ../components/buttons/large/button_large.html
  
