<div class="evn-slide-toggle mat-slide-toggle-bar"><input
        class="evn-slide-toggle mat-slide-toggle-input cdk-visually-hidden" role="switch" type="checkbox"
        id="mat-slide-toggle-4-input" tabindex="0" aria-checked="false">
    <div class="mat-slide-toggle-thumb-container">
        <div class="mat-slide-toggle-thumb"></div>
        <div class="mat-slide-toggle-ripple mat-focus-indicator mat-ripple" mat-ripple="">
            <div class="mat-ripple-element mat-slide-toggle-persistent-ripple"></div>
        </div>
    </div>
</div><span class="mat-slide-toggle-content"><span style="display:n">&nbsp;</span>
    <!----><span class="text evn-body-1">This is the label text.</span>
</span></label>