@import '../theme.scss';

.evn-slide-toggle {

    &.mat-slide-toggle {   
        //height: auto;
        display: inline-block;
        height: 24px;
        max-width: 100%;
        line-height: 24px;
        white-space: nowrap;
        outline: none;
        -webkit-tap-highlight-color: transparent;

        &.mat-disabled {

            .mat-slide-toggle-bar,.mat-slide-toggle-thumb-container {
                cursor: not-allowed;
            }
        }

        .mat-slide-toggle-label {
            height: 32px;
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: center;
            height: inherit;
            cursor: pointer;
        }

        .mat-slide-toggle-bar {
            width: 58px;
            height: 32px;
            border-radius: 16px;
            margin-right: 16px; 
            background-color: #E9E9E9;
            margin-right: 0;
            overflow: hidden; //different files. 1x drinnen 1x nicht
            transition: background-color 150ms ease;

            &:hover {
                background-color: #d9d9d9;
            }
        }

        .mat-slide-toggle-content .text{
            margin-left: 16px;
        }
    
        .mat-slide-toggle-thumb-container {
            position: absolute;
            z-index: 1;
            width: 20px;
            height: 20px;
            top: -3px;
            left: 0;
            transform: translate3d(0, 0, 0);
            transition: all 80ms linear;
            transition-property: transform;
        }
    
        .mat-slide-toggle-thumb {
            width: 22px;
            height: 22px;
            background-color: #FFFFFF;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 2px 1px rgba(0, 0, 0, 0.04), 0px 1px 8px rgba(0, 0, 0, 0.08);
        }

        .mat-slide-toggle-content {

            .text {
                display: block;
            }
        }
    
        .mat-slide-toggle-ripple {
            display: none;
        }
    
        .mat-slide-toggle-bar:hover .mat-slide-toggle-persistent-ripple {
            opacity: 0;
        }
    
        &.mat-checked  {
    
            .mat-slide-toggle-bar {
                background-color: #78BF3B;
            }
    
            .mat-slide-toggle-thumb {
                background-color: #FFFFFF;
            }
    
            .mat-slide-toggle-thumb-container {
                transform: translate3d(26px, 0, 0);
            }
    
            &:hover {
    
                .mat-slide-toggle-bar {
                    background-color: #477420;
                }
            }
        }
    
        &.mat-disabled  {
            opacity: 1;

            .mat-slide-toggle-bar {
                background-color: #F8F8F8;
            }

            &:hover {
                .mat-slide-toggle-bar {
                    background-color: #F8F8F8;
                }
            }
        }
    }
}


//pasted from browser

.mat-slide-toggle-input {
    bottom: 0;
    left: 10px;
}

.cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.mat-slide-toggle-bar, .mat-slide-toggle-thumb {
    transition: all 80ms linear;
    transition-property: background-color;
    transition-delay: 50ms;
}

.mat-slide-toggle-bar-no-side-margin {
    margin-left: 0;
    margin-right: 0;
}

.evn-slide-toggle.mat-slide-toggle .mat-slide-toggle-thumb-container {
    top: 5px;
    left: 5px;
}

.mat-slide-toggle-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.mat-slide-toggle-thumb {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    background-color: #fafafa;
}

.mat-slide-toggle .mat-slide-toggle-ripple {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    height: 40px;
    width: 40px;
    z-index: 1;
    pointer-events: none;
}

.mat-ripple:not(:empty) {
    transform: translateZ(0);
}
.mat-ripple:not(:empty) {
    transform: translateZ(0);
}
.mat-focus-indicator {
    position: relative;
}
.mat-ripple {
    overflow: hidden;
    position: relative;
}
.mat-focus-indicator {
    position: relative;
}
.mat-ripple {
    overflow: hidden;
    position: relative;
}

.mat-slide-toggle:not(.mat-checked) .mat-ripple-element {
    background-color: black;
}
.mat-slide-toggle:not(.mat-checked) .mat-ripple-element {
    background-color: black;
}
.mat-slide-toggle-persistent-ripple, .mat-slide-toggle.mat-disabled .mat-slide-toggle-bar:hover .mat-slide-toggle-persistent-ripple {
    opacity: 0;
}
.mat-slide-toggle-persistent-ripple {
    width: 100%;
    height: 100%;
    transform: none;
}
.mat-ripple-element {
    background-color: rgba(0, 0, 0, 0.1);
}
.mat-ripple-element {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    transition: opacity, transform 0ms cubic-bezier(0, 0, 0.2, 1);
    transform: scale(0);
}
.mat-ripple-element {
    background-color: rgba(0, 0, 0, 0.1);
}
.mat-ripple-element {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    transition: opacity, transform 0ms cubic-bezier(0, 0, 0.2, 1);
    transform: scale(0);
}