<evn-slide-toggle>
    <mat-slide-toggle class="mat-slide-toggle mat-accent evn-slide-toggle" type="button" tabindex="-1"><label
            class="mat-slide-toggle-label">
            <div class="mat-slide-toggle-bar mat-slide-toggle-bar-no-side-margin">
                <input class="mat-slide-toggle-input cdk-visually-hidden" role="switch" type="checkbox"
                    id="mat-slide-toggle-4-input" tabindex="0" aria-checked="false">
                <div class="mat-slide-toggle-thumb-container">
                    <div class="mat-slide-toggle-thumb"></div>
                    <div class="mat-slide-toggle-ripple mat-focus-indicator mat-ripple" mat-ripple="">
                        <div class="mat-ripple-element mat-slide-toggle-persistent-ripple"></div>
                    </div>
                </div>
            </div><span class="mat-slide-toggle-content">
                <span">&nbsp;
                </span">
            </span>
            <!---->

        </label>

    </mat-slide-toggle>
</evn-slide-toggle>