<h3 class="mt-20">Primary</h3>
<ul>
    <li class="p-050">050</li>
    <li class="p-100">100</li>
    <li class="p-200">200</li>
    <li class="p-300">300</li>
    <li class="p-400">400</li>
    <li class="p-500">500</li>
    <li class="p-600">600</li>
    <li class="p-700">700</li>
    <li class="p-800">800</li>
    <li class="p-900">900</li>
</ul>

<h3 class="mt-20">Secondary</h3>
<ul>
    <li class="s-050">050</li>
    <li class="s-100">100</li>
    <li class="s-200">200</li>
    <li class="s-300">300</li>
    <li class="s-400">400</li>
    <li class="s-500">500</li>
    <li class="s-600">600</li>
    <li class="s-700">700</li>
    <li class="s-800">800</li>
    <li class="s-900">900</li>
</ul>

<h3 class="mt-20">Success</h3>
<ul class="col-1">
    <li class="ss-200">200</li>
    <li class="ss-500">500</li>
    <li class="ss-800">800</li>
</ul>

<h3 class="mt-20">Warning</h3>
<ul class="col-1">
    <li class="w-200">200</li>
    <li class="w-500">500</li>
    <li class="w-800">800</li>
</ul>

<h3 class="mt-20">Error</h3>
<ul class="col-1">
    <li class="e-200">200</li>
    <li class="e-500">500</li>
    <li class="e-800">800</li>
</ul>

<h3 class="mt-20">On Primary</h3>
<ul class="col-1">
    <li class="p-he">High emphasis</li>
    <li class="p-me">Medium emphasis</li>
    <li class="p-d">Disabled</li>
</ul>

<h3 class="mt-20">On Surface</h3>
<ul class="col-1">
    <li class="s-he">High emphasis</li>
    <li class="s-me">Medium emphasis</li>
    <li class="s-d">Disabled</li>
</ul>

<h3 class="mt-20">Outline</h3>
<ul class="col-1">
    <li class="border-outline">Border color</li>
</ul>

<h3 class="mt-20">Special Types</h3>
<ul class="col-1">
    <li class="surface">Surface</li>
    <li class="joulie-blue">Joulie-blue</li>
    <li class="joulie-peach">Joulie-peach</li>
    <li class="kableplus-orange">Kableplus-orange</li>
    <li class="dashpurple">Dashboard-purple</li>
    <li class="dashgreen">Dashboard-green</li>

</ul>