<evn-action-button>
    <button class="button-flexible mat-focus-indicator mat-button mat-button-base button button-large button-has-icon icon-right button-primary button-flexible" mat-button="" type="button">
        <span class="mat-button-wrapper">
            <span class="text">Button</span>
            <span class="icon-wrapper">
                <evn-icon>
                    <div class="evn-icon evn-icon-arrow-right evn-icon-color-white evn-icon-block evn-icon-default">
                        <!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
                        <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.9089 4.99999L16.0001 10.0911M16.0001 10.0911L10.9089 15.1823M16.0001 10.0911L4 10.0913" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                        </svg><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
                    </div>
                </evn-icon>
                <evn-icon>
                    <div class="evn-icon evn-icon-arrow-right evn-icon-color-white evn-icon-block evn-icon-default">
                        <!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
                        <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.9089 4.99999L16.0001 10.0911M16.0001 10.0911L10.9089 15.1823M16.0001 10.0911L4 10.0913" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                        </svg><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
                    </div>
                </evn-icon>
            </span>
        </span>
        <span class="mat-button-ripple mat-ripple" matripple=""></span>
        <span class="mat-button-focus-overlay"></span>
    </button>
</evn>
