@import '../../variables.scss';

.button_large {

    font-family: "Frutiger Next LT W10";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    border: 0;
    line-height: 20px;
    height: 56px;
    width: 231px;
    border-radius: 14px;
    padding: 8px 8px 8px 16px;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    transition: all 150ms ease-out;
    font-family: sans-serif;
    background-repeat: no-repeat !important;
    background-position: right 10px top 8px !important;
}

.button_primary {
    background: $primary-500;
    background-image: url("../../assets/button/primary/button_arrow_right.png") !important;

    &:hover {
        background: $primary-600;
        background-image: url("../../assets/button/primary/button_arrow_right_hover.png") !important;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: #f8f8f8 !important;
        color: #7b7b7b !important;
        background-image: url("../../assets/button/primary/button_arrow_right_disabled.png") !important;
    }
}

.button_secondary {
    background: #000;
    background-image: url("../../assets/button/secondary/button_arrow_right.png") !important;

    &:hover {
        background: $secondary-800;
        background-image: url("../../assets/button/secondary/button_arrow_right_hover.png") !important;
    }

    &:disabled {
        cursor: not-allowed;
        color: $secondary-500;
        background: $secondary-050;
        background-image: url("../../assets/button/secondary/button_arrow_right_disabled.png") !important;
    }
}

.button_tertiary {
    border: 1px solid #E8E8E8;
    color: black;
    background: #fff;
    background-image: url("../../assets/button/tertiary/button_arrow_right.png") !important;

    &:hover {
        background-image: url("../../assets/button/tertiary/button_arrow_right_hover.png") !important;
    }

    &:disabled {
        background: $secondary-050;
        background-image: url("../../assets/button/tertiary/button_arrow_right_disabled.png") !important;
    }
}

.button_light {
    border: 0;
    color: black;
    background: #fff;
    background-image: url("../../assets/button/tertiary/button_arrow_right.png") !important;

    &:hover {
        background-image: url("../../assets/button/tertiary/button_arrow_right_hover.png") !important;
    }

    &:disabled {
        background-image: url("../../assets/button/tertiary/button_arrow_right_disabled.png") !important;
    }
}

.button_grey {
    border: 0;
    color: black;
    background: $secondary-050;
    background-image: url("../../assets/button/grey/button_arrow_right.png") !important;

    &:hover {
        background: $secondary-050;
        background-image: url("../../assets/button/grey/button_arrow_right_hover.png") !important;
    }

    &:disabled {
        background-image: url("../../assets/button/grey/button_arrow_right_disabled.png") !important;
    }
}

.button_fixed {
    width: 300%;
    background: $primary-500;
    background-image: url("../../assets/button/primary/button_arrow_right.png") !important;

    &:hover {
        background: $primary-500;
        background-image: url("../../assets/button/primary/button_arrow_right_hover.png") !important;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: $secondary-050 !important;
        color: #7b7b7b !important;
        background-image: url("../../assets/button/primary/button_arrow_right_disabled.png") !important;
    }
}

.button_flexible {
    width: auto;
    min-width: 140px;
    background: $primary-500;
    background-image: url("../../assets/button/primary/button_arrow_right.png") !important;

    &:hover {
        background: $primary-600;
        background-image: url("../../assets/button/primary/button_arrow_right_hover.png") !important;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: #f8f8f8 !important;
        color: #7b7b7b !important;
        background-image: url("../../assets/button/primary/button_arrow_right_disabled.png") !important;
    }
}