.button_large {

    font-family: "Frutiger Next LT W10";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    border: 0;
    line-height: 20px;
    height: 56px;
    width: 237px;
    border-radius: 14px;
    padding: 8px, 8px, 8px, 16px;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    transition: all 150ms ease-out;
}

.button_primary {
    background: #E0001B;
}

.button_primary:hover {
    background: #B80015;
}

.button_secondary {
    background: #000;
}

.button_secondary:hover {
    background: #262626;
}